In [ ]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] =(20,10)

In [41]:
df1 = pd.read_csv('blr.csv')
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [42]:
df1.shape

(13320, 9)

In [43]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [45]:
df2=df1.drop(['area_type','society','balcony','availability'], axis='columns')

In [47]:
df2

                       location       size total_sqft  bath   price
0      Electronic City Phase II      2 BHK       1056   2.0   39.07
1              Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2                   Uttarahalli      3 BHK       1440   2.0   62.00
3            Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                      Kothanur      2 BHK       1200   2.0   51.00
...                         ...        ...        ...   ...     ...
13315                Whitefield  5 Bedroom       3453   4.0  231.00
13316             Richards Town      4 BHK       3600   5.0  400.00
13317     Raja Rajeshwari Nagar      2 BHK       1141   2.0   60.00
13318           Padmanabhanagar      4 BHK       4689   4.0  488.00
13319              Doddathoguru      1 BHK        550   1.0   17.00

[13320 rows x 5 columns]

In [48]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [49]:
df3 = df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [50]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

# creating new column in data set

In [51]:
df3['bhk'] = df3['size'].apply(lambda x: (x.split(' ')[0]))

/home/imheister/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

# New columns is created with showing bhk. i write lambda function to split older size columns to normally int type value

In [52]:
df3.head()

                   location       size total_sqft  bath   price bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07   2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00   4
2               Uttarahalli      3 BHK       1440   2.0   62.00   3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00   3
4                  Kothanur      2 BHK       1200   2.0   51.00   2

In [53]:
df3['bhk'].unique()

array(['2', '4', '3', '6', '1', '8', '7', '5', '11', '9', '27', '10',
       '19', '16', '43', '14', '12', '13', '18'], dtype=object)

In [60]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'],
      dtype=object)

In [ ]:
#1133-1384 kind of value so change to int

# creating a funtion to take only float values from this colomns

In [61]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

In [73]:
df3[df3['total_sqft'].apply(is_float)].head(33)

                    location       size total_sqft  bath   price bhk
0   Electronic City Phase II      2 BHK       1056   2.0   39.07   2
1           Chikka Tirupathi  4 Bedroom       2600   5.0  120.00   4
2                Uttarahalli      3 BHK       1440   2.0   62.00   3
3         Lingadheeranahalli      3 BHK       1521   3.0   95.00   3
4                   Kothanur      2 BHK       1200   2.0   51.00   2
5                 Whitefield      2 BHK       1170   2.0   38.00   2
6           Old Airport Road      4 BHK       2732   4.0  204.00   4
7               Rajaji Nagar      4 BHK       3300   4.0  600.00   4
8               Marathahalli      3 BHK       1310   3.0   63.25   3
9               Gandhi Bazar  6 Bedroom       1020   6.0  370.00   6
10                Whitefield      3 BHK       1800   2.0   70.00   3
11                Whitefield  4 Bedroom       2785   5.0  295.00   4
12        7th Phase JP Nagar      2 BHK       1000   2.0   38.00   2
13                 Gottigere      2 BHK       1100   2.0   40.00   2
14                  Sarjapur  3 Bedroom       2250   3.0  148.00   3
15               Mysore Road      2 BHK       1175   2.0   73.50   2
16             Bisuvanahalli      3 BHK       1180   3.0   48.00   3
17     Raja Rajeshwari Nagar      3 BHK       1540   3.0   60.00   3
18     Ramakrishnappa Layout      3 BHK       2770   4.0  290.00   3
19        Manayata Tech Park      2 BHK       1100   2.0   48.00   2
20                   Kengeri      1 BHK        600   1.0   15.00   1
21                Binny Pete      3 BHK       1755   3.0  122.00   3
22               Thanisandra  4 Bedroom       2800   5.0  380.00   4
23                 Bellandur      3 BHK       1767   3.0  103.00   3
24               Thanisandra       1 RK        510   1.0   25.25   1
25           Mangammanapalya      3 BHK       1250   3.0   56.00   3
26           Electronic City      2 BHK        660   1.0   23.10   2
27                Whitefield      3 BHK       1610   3.0   81.00   3
28          Ramagondanahalli      2 BHK       1151   2.0   48.77   2
29           Electronic City      3 BHK       1025   2.0   47.00   3
31             Bisuvanahalli      3 BHK       1075   2.0   35.00   3
32                    Hebbal      3 BHK       1760   2.0  123.00   3
33     Raja Rajeshwari Nagar      3 BHK       1693   3.0   57.39   3

In [75]:
df3.loc[30]

location        Yelahanka
size                4 BHK
total_sqft    2100 - 2850
bath                    4
price                 186
bhk                     4
Name: 30, dtype: object

In [86]:
#see total_sqft has rage value we have to remove that

In [77]:
def convert_sqft_to_num(x):
    tokens = x.split('-')
    if len(tokens) == 2:
        return (float(tokens[0])+ float(tokens[1]))/2
    try:
        return float(x)
    except:
        return None

In [78]:
convert_sqft_to_num('2166')

2166.0

In [79]:
convert_sqft_to_num('1075')

1075.0

In [83]:
df4 =df3.copy()
df4['total_sqft']=df4['total_sqft'].apply(convert_sqft_to_num)
df4.head()

                   location       size  total_sqft  bath   price bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07   2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00   4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00   3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00   3
4                  Kothanur      2 BHK      1200.0   2.0   51.00   2

In [84]:
df4.loc[30]

location      Yelahanka
size              4 BHK
total_sqft         2475
bath                  4
price               186
bhk                   4
Name: 30, dtype: object

In [85]:
#now ok value is there..